div{
    width: 300px;
}
#RED{
    background-color: rosybrown;

}
.Paint{
    font-weight: 2000 !important ; 

}
.town{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}