body{
    /* padding: 20px; */
    background-color: cornflowerblue;
    /* padding-left: 20vw; */
    padding-top: 80px;
}
.container{
    text-align: center;
    /* width: 95vw;
    height: 95vh; */
}

ul{
    color: whitesmoke;
    font-size: large;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
}
li{
    display: flex;
    width: 450px;
    justify-content: space-around;
}