* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
.page{
    padding: 16px 12px 0 0;
    height: 97vh;
    margin: auto;
    width: 75%;
    background-color: rgba(250, 250, 250, 1);

}

                                                   /* NAV CSS */

.logo-name{
    margin-left: 4px;
    display: flex;
    align-items: center;
    font-size: 26px;
    /* font-weight: 150; */
    /* gap: 8px; */
}
.more-icons{
    display: flex;
    align-items: center;
    gap:8px;
}
nav button{
    display: flex;
    align-items: center;
    padding: 6px 6px 6px 0;
    outline: none;
    border-radius: 4px;
    border: 1px solid rgba(208, 213, 221, 1);
    height: 100%;
    font-size: 9px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(52, 64, 84, 1);
    font-weight: 600;
}
nav{
    display: flex;
    height: 24px;
    justify-content: space-between;
    margin: 0;
}
nav svg{
    height: 100%;
    margin: 0;
}
nav button svg{
    /* border: 1px solid black; */
  margin-right: 4px;
  margin-left: 6px;
}


                                                      /* CARD LAYER 1 */

.card1-4{
    margin: 21px -40px 0 12px;
    height: 158px;
    /* background-color: antiquewhite; */
    display: flex;
    gap: 10px;
}
.cardlogo svg{
    width: 15px;
}
.percentage svg{
    height: 13px;
}
                                                           /* CARD */
.card{
    background-color: rgba(255, 255, 255, 1);
    padding-top: 8px; 
    padding-right: 14px;
    padding-left: 14px;
    /* padding-bottom: 10px; */
    width: 21%;
    border: 1px solid rgba(234, 236, 240, 1);
    border-radius: 8px;
}
.card nav{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 1200;
    margin-bottom: 4px;
}
.cardlogo{
   display: flex;
   align-items: center;
   gap: 4px;

}
.cardlogo p{
    font-weight: 600;
}
.percentage{
    display: flex;
    align-items: center;
   font-size: 10px;
   text-align: center;
   gap: 2px;
   font-weight: 600;

}
.percentage-1{
    color: rgba(252, 84, 82, 1);
    /* font-weight: 600; */
}
.percentage-2{
    color:rgba(29, 191, 115, 1);
    /* font-weight: 600; */
}.percentage-1{
    color: rgba(252, 84, 82, 1);
    /* font-weight: 1200; */
}.percentage-1{
    color: rgba(252, 84, 82, 1);
    /* font-weight: 1200; */
}.percentage-1{
    color: rgba(252, 84, 82, 1);
    /* font-weight: 1200; */
}
.bar{
    width:7px;
    background-color: rgba(239, 239, 239, 1);
    border-radius: 4px;
}
.bargraph{
    height: 64px;
    display: flex;
    gap: 1.2px;
align-items: end;    
padding-bottom: 1.6px;
    border-bottom: 1px solid rgba(233, 233, 233, 1);
    /* border: 0.5px solid rgba(233, 233, 233, 1); */
}
.scale{
    display: flex;
gap: 44px;
justify-content: center;
padding-top: 4px;
padding-bottom: 4px;
/* margin-bottom: 5px;     */
font-size: 7px;
    color: rgba(135, 135, 135, 1);
    margin-bottom: -10px;
    /* border: 0.5px solid rgba(233, 233, 233, 1); */
    
}
.tag-group {
    position: relative;
    /* display: flex; */
    /* gap: 1px; */
 
}

.tag-group .bar{
    width: 6.5px;
}
.cards5-7 .tag-group .bar{
    width: 5.5 px;
}
.cards5-7 .tag-group{
    gap: 0.5px;
}
.grp1{
    position: absolute;
    top: 3px;
    left: 126.4px;
}
.grp2{
    left:3px;
    top: -17px;

}
.grp3{
    left: 6px;
    top: -18px;

}
.grp4{
    left: 6px;
    top: -14px;
}
.graph{
    position: relative;
}

.cards5-7 .graph{
    position: relative;
    margin-top: 4px;

}
.avg1{
    z-index: 2;
    height: 13px;
    display: flex;
    top: 30px;
    position: absolute;
    align-items: center;
}
.avg2{
    z-index: 2;
    height: 13px;
    display: flex;
    top: 160px;
    position: absolute;
    align-items: center;
}
.tag-group svg{
    position: absolute;
    /* left: 3.2px; */
    bottom: 44px; /* Moves it slightly up to overlap bars */
    z-index: 1;
    /* display: flex; */
    /* gap: 1px; */
 
}
.tag-bars{
    display: flex;
    gap: 1.5px;
    align-items: end;
    position: relative;
}

                                                          /* CARD LAYER ONE DONE
                                                          LOWER AREA */



.lower-rect{
    padding: 10px 8px 10px 10px;

    margin: 10px;
    height: 472px;
    border: 1.6px solid black;
    display: flex;
    gap: 10px;
    margin: 10px -12px 20px 0px;
}



                                                       /* LOWER LEFT */
.left-box{
    height: 100%;
    width: 66%;
    border-radius: 12px;
    /* border: 0.5px solid rgba(234, 236, 240, 1); */

}  
                                                       /* CARDS 5-7  */
                                                       
                                                       
.cards5-7{
    display: flex;
    gap: 9px;
    margin-bottom: 10px;

}
.cards5-7 .card{
    width: 28.6%;
    height: 198px;
    border-radius: 10px;
}
.cards5-7 .bar{
    width: 6px;
}
.cards5-7 .scale{
    gap: 35px;

}
.grp5{
    top: -18px;
    left: 5.5px;
}
.grp6{
    left: 3px;
    top: -17.5px;
}
.grp7{
    left: 4px;
    top: -19px;
}

                                                         /* INCOME Lower LEFT*/

.income{
    /* margin: 5px; */
    padding: 12px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    /* border: 0.5px solid rgba(234, 236, 240, 1); */
}
.income nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-right: 0px;
}
.checkboxes{
    margin-left:4px;
    margin-top: 6px;
    display: flex;
    font-size: 8px;
    font-weight: 600;
    gap: 4px;
}
.graphical{
    margin-top: 20px;
    display: flex;
    align-items: end;
    justify-content: space-around;
}
.rect{
    width: 130px;
    border-radius: 4px;
    /* border: 0.5px solid rgba(234, 236, 240, 1); */
    background-color: rgba(239, 239, 239, 1);
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow: hidden;
}
.months{
    display: flex;
    justify-content: center;
    padding-top: 4px;
    gap: 66px;
    font-size: 9px;
    color: rgba(135, 135, 135, 1);
    /* font-size: 5px; */
}
/* .months div{
    font-size: 1px;

} */
.divider{
    width: 1px;
    height: 10px;
    background-color: rgba(175, 175, 175, 1);

}


                                                  /* LOWER RIGHT */
.right-box{
    /* height: 100%; */
    width: 30%;
    border-radius: 8px;
    border: 1px solid rgba(234, 236, 240, 1);
    padding:14px 16px 10px 14px ;
    background-color: rgba(255, 255, 255, 1);
}
.right-box nav{
    height: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: 1200;
    /* border: 0.5px solid rgba(234, 236, 240, 1); */
    /* margin-right:-4.5px; */
    border-bottom: 1px solid rgba(234, 236, 240, 1);
    padding-bottom: 12px;
}
.right-box .rows{
    display: flex;
    padding: 10px 14px 10px 14px;
    justify-content: space-between;
    border-bottom: 1px solid rgba(233, 233, 233, 1);

}
.textual{
    display: flex;
    /* align-content: center; */
    align-items: center;
    gap: 6px;

}
.card-number{
    font-weight: 500;
}
.entry{
    font-size: 9px;
    font-weight:400;
    margin-left: 1px;

}
.amount{
    /* border: 0.5px solid rgba(234, 236, 240, 1); */
    /* justify-content: center; */
    align-content: center;
    font-size: 10px;
    color: rgba(7, 148, 85, 1);
    font-weight: 1200;
}
.checkout-icon{
    display: flex;
    gap: 4px;
align-items: center;}